<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :total_in_shelf %><br>
    <%= f.text_field :total_in_shelf %>
  </div>
  <div class="field">
    <%= f.label :total_in_vault %><br>
    <%= f.text_field :total_in_vault %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.select :store_id, options_from_collection_for_select(Store.all, :id, :name, @article.store_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
