<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<% unless @store.articles.empty? %>
  <h3>Articles</h3>
  <% @store.articles.each do |article| %>
    <p>
      <strong>Name:</strong>
      <%= link_to article.name, article_path(article) %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
