<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Super Shoes</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Stores", stores_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Articles", articles_path %></li>
    </ul>
  </section>
</nav>