html, body, .wrapper { height: 100%; }
body > .wrapper { height: auto; min-height: 100%; }

.top-bar {
  margin-bottom: 30px;
}

footer {
  background: #333;
  padding: 24px 0 10px;
  width: 100%;
}

.copyright {
  color: white;
  font-size: 12px;
}

.wrapper {
  height: 100%;
  margin-bottom: 20px;
}
