<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Super Shoes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: 'shared/nav_bar' %>
      
      <div class="row">
        <div class="small-12 column">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <%= render partial: 'shared/footer' %>
  </body>
</html>
